*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
  margin: 100px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  width: 250px;
}

.form-group input:focus {
  outline: 0;
  border-color: #333;
}

.btn {
  margin-top: 20px;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover {
  border-color: #333;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
  border-color: #333;
}
